*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuzin{
    width: 100%;
    height: 100px;
    background-color: #004AAD;
    display: flex;
    justify-content: center;
}